<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Agenda</title>
</head>
<body>
    <h1>AGENDA</h1>
    <table>
        <thead>
          <tr>
            <th>Hora</th>
            <th>Segunda-feira</th>
            <th>Terça-feira</th>
            <th>Quarta-feira</th>
            <th>Quinta-feira</th>
            <th>Sexta-feira</th>
            <th>Sábado</th>
          </tr>
        </thead>
        <tbody>
            <% for (let hour = 8; hour <= 21; hour++) { %>
              <tr>
                <td><%= hour %>:00</td>
                <% for (let day = 0; day < 7; day++) { %>
                  <td>
                    <% const isAvailable = schedule[day][hour]; %>
                    <% const name = schedule[day][hour] ? schedule[day][hour].name : ''; %>
                    <% if (isAvailable) { %>
                      <input type="text" id="input-<%= day %>-<%= hour %>" value="<%= name %>">
                    <% } else { %>
                      <%= name %>
                    <% } %>
                  </td>
                <% } %>
              </tr>
            <% } %>
          </tbody>
          
      </table>

    <script src="script.js">
    </script>
</body>
</html>
